<h3 class="aboutheader">Meet Burky</h3>
<a href="/" class="back-btn">back</a>

<div class="aboutpagecontainer">


<div class="aboutimg">
    <img src="/img/aboutpage.jpg" width="400">
</div>

   
    <div class="aboutredirect">
        <span class="jump">Jump To :</span> 
        <a class="aboutbox" href="">
            <img src="/img/american-food.jpg" width="100" alt="">
        <span>American</span>
        </a>
         <a class="aboutbox" href="">
            <img src="/img/mexican.jpg" width="100" alt="">
        <span>Mexican</span>
         </a>
        <a class="aboutbox" href="">
            <img src="/img/indian.jpg" width="100" alt="">
        <span>Indian</span>
        </a>
        <a class="aboutbox" href="">
            <img src="/img/chinesse.jpg" width="100" alt="">
        <span>Chinesse</span>
        </a>
    </div>

</div>

<div class="about-content">
    <p>Welcome to my blog site! I am Burky and the food blogger behind this site.The blog launched in 2021 as a place where individuals 
        can share their passion for cooking.I love tasting new meals.Post your favourite submit-recipe
        Inspired by cook books other food blogs,magazines and family recipes.
    </p>
</div>